.header {
    display: flex;
    /* 15 top bottom, 20 left right */
    justify-content: space-between;
    position: sticky;
    background-color: white;
    z-index: 100;
    top: 0;
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);


}

.header_left{

    display: flex;
    justify-content: space-evenly;
    width: 50%;
    padding-top: 100px;
    background-image: url("../../images/audience.jpg");
    height: 775px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header_left>img{
    height: 300px;
}

.header_right>img{
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.header_right{
    display: inline;
    justify-content: space-evenly;
    width: 50%;
    padding-top: 100px;
}

.header_form {
    width: 450px;
    height: 300px;
    box-shadow: 0px 7px 8px -9px rgba(0, 0, 0, 0.75);
    background-color: #ffffff;
    margin-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: #fafafa;
    border-style: solid;
    border-radius: 10px;
    padding-top: 10px;

}

button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
    border-radius: 12px;
    font-size: 17px;
    font-weight: bold;
}

.login-btn-color:hover{
    background-color: #05A8FF;
}

.login-btn{
    margin-right: 50px;
    margin-left: 50px;
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 20px;
}

.login-btn-color{
    background-color: #0383c7;

}

.signup-btn {
    margin-right: 50px;
    margin-left: 50px;
    font-size: 17px;
    font-weight: bold;
}

.signup-btn-color{
    background-color: #88001B;

}

.signup-btn-color:hover{
    background-color: #CF3400;
}

input {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-left: 58px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 17px;

}

.footer {
    font-size: 14px;
    text-align: center;
    color: darkgray;
    font-family: Arial;
}

.form-popup {
    width: 450px;
    height: 400px;
    display: block;
    position: fixed;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    margin-left: auto;
    margin-right: 700px;
    margin-top: 200px;
    border-radius: 10px;
    padding-top: 10px;
    background-color: white;
    opacity: 100%;
}

.form-bg{
    display: none;
    position: fixed;
    background-color: white;


}

.register-btn {
    margin-right: 50px;
    margin-left: 50px;
    font-size: 17px;
    font-weight: bold;
    margin-top: 20px;
}


